Repository bounswe/bounswe2024group2, pull requests merged in 2024-12, with the labels that each got.

#457 feat: Add tags, username, and publish dates to posts.
  frontend/package-lock.json
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/community/CreatePostPage.js
  frontend/src/components/community/PostView.js
  frontend/src/service/apiClient.js
  frontend/src/styles/community/CreatePostPage.css
Labels: frontend

#442 Feature/be daily currency stock update
  backend/docker-compose.yaml
  backend/marketfeed/management/__init__.py
  backend/marketfeed/management/commands/__init__.py
  backend/marketfeed/management/commands/update_currencies.py
  backend/marketfeed/management/commands/update_stocks.py
  backend/marketfeed/management/currencies.json
  backend/marketfeed/serializers.py
  backend/marketfeed/views.py
  backend/requirements.txt
Labels: backend

#451 Stock indices endpoint
  backend/marketfeed/management/commands/update_currencies.py
  backend/marketfeed/management/commands/update_stocks.py
  backend/marketfeed/migrations/0004_index.py
  backend/marketfeed/migrations/0005_index_currency_index_symbol.py
  backend/marketfeed/models.py
  backend/marketfeed/serializers.py
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
Labels: backend

#463 Add comments by posts endpoint
  backend/marketfeed/views.py
Labels: backend

#468 Refactor user related endpoints
  backend/marketfeed/migrations/0004_remove_portfolio_stocks_portfoliostock.py
  backend/marketfeed/migrations/0005_portfolio_stocks.py
  backend/marketfeed/migrations/0006_merge_20241210_1341.py
  backend/marketfeed/migrations/0007_portfoliostock_quantity.py
  backend/marketfeed/models.py
  backend/marketfeed/serializers.py
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
Labels: backend

#462 Feature/be like dislike
  backend/marketfeed/models.py
  backend/marketfeed/serializers.py
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
Labels: backend

#461 Feature/be follow unfollow
  backend/onboarding/serializers.py
  backend/onboarding/urls.py
  backend/onboarding/views.py
Labels: backend

#469 Add API for Pattern-Based Stock Search
  .gitignore
  backend/marketfeed/serializers.py
  backend/marketfeed/views.py
  docker-compose.yaml
Labels: backend

#470 Add user service management
  frontend/src/components/Dashboard.js
  frontend/src/components/login/Login.js
  frontend/src/service/userService.js
Labels: frontend

#473 Change like and dislike view types to GenericAPIView
  backend/marketfeed/serializers.py
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
Labels: bug, backend

#476 [FE] Refactor dockerfile for production env
  docker-compose.yaml
  frontend/Dockerfile
Labels: devops, frontend

#474 Add custom alert modal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/alert/AlertModal.js
  frontend/src/components/alert/AlertModalContext.js
  frontend/src/styles/AlertModal.css
Labels: frontend

#477 Refactor user endpoints
  backend/onboarding/views.py
Labels: backend

#478 Refactor post return values
  backend/marketfeed/migrations/0008_post_disliked_by_alter_post_liked_by.py
  backend/marketfeed/serializers.py
  backend/marketfeed/views.py
Labels: backend

#376 Add profile page layout
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/profile/ProfilePage.js
  frontend/src/styles/Dashboard.css
  frontend/src/styles/Profile.css
Labels: frontend

#479 Add Search Endpoints
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
Labels: backend

#482 Add comments, likes. Fix tags
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/community/CreatePostPage.js
  frontend/src/components/community/PostCard.js
  frontend/src/components/community/PostView.js
  frontend/src/styles/community/CreatePostPage.css
  frontend/src/styles/community/PostView.css
Labels: frontend

#488 Add stock details page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/markets/MarketsPage.js
  frontend/src/components/markets/stocks/StockAboutSection.js
  frontend/src/components/markets/stocks/StockChartSection.js
  frontend/src/components/markets/stocks/StockMetricsSection.js
  frontend/src/components/markets/stocks/StockOverviewPage.js
  frontend/src/components/markets/stocks/StockRelatedPostsSection.js
  frontend/src/data/mockStockDetails.js
  frontend/src/service/stockService.js
  frontend/src/styles/markets/stocks/StockOverviewPage.css
  frontend/src/utils/randomUtil.js
Labels: frontend

#489 Fix stock price range
  backend/marketfeed/views.py
Labels: backend

#495 Fix/BE get profile by user id
  backend/onboarding/views.py
Labels: bug, backend

#496 fix: create profiles for users if they have none
  backend/onboarding/views.py
Labels: bug, backend

#498 Fix post pagination
  backend/marketfeed/views.py
Labels: backend

#500 Stock Price Range Refactor
  backend/marketfeed/serializers.py
  backend/marketfeed/views.py
Labels: backend

#503 Stock detail and pagination for stocks
  backend/marketfeed/serializers.py
  backend/marketfeed/views.py
Labels: backend

#504 Fix pagination
  backend/marketfeed/views.py
Labels: backend

#505 Stock detail and pagination fix
  backend/marketfeed/views.py
Labels: backend

#499 Feature/be unit tests
  backend/onboarding/serializers.py
  backend/onboarding/tests.py
Labels: priority: medium, workload: 5, backend

#493 Fix/BE search with tags
  backend/marketfeed/views.py
Labels: bug, priority: high, workload: 2, backend

#507 feature/BE stocks of posts
  backend/marketfeed/models.py
  backend/marketfeed/serializers.py
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
Labels: priority: high, workload: 2, backend

#513 fix/BE validation error import
  backend/marketfeed/views.py
Labels: bug, priority: high, workload: 1, backend

#508 Add real stock price values on chart
  frontend/src/components/markets/stocks/StockAboutSection.js
  frontend/src/components/markets/stocks/StockChartSection.js
  frontend/src/components/markets/stocks/StockMetricsSection.js
  frontend/src/components/markets/stocks/StockOverviewPage.js
  frontend/src/service/apiClient.js
  frontend/src/service/portfolioService.js
  frontend/src/service/stockService.js
  frontend/src/service/userService.js
Labels: frontend

#490 Annotation backend project
  annotations_project/Dockerfile
  annotations_project/annotations/__init__.py
  annotations_project/annotations/admin.py
  annotations_project/annotations/apps.py
  annotations_project/annotations/migrations/__init__.py
  annotations_project/annotations/models.py
  annotations_project/annotations/serializers.py
  annotations_project/annotations/tests.py
  annotations_project/annotations/urls.py
  annotations_project/annotations/views.py
  annotations_project/annotations_project/__init__.py
  annotations_project/annotations_project/asgi.py
  annotations_project/annotations_project/settings.py
  annotations_project/annotations_project/urls.py
  annotations_project/annotations_project/wsgi.py
  annotations_project/manage.py
  annotations_project/requirements.txt
  annotations_project/templates/swagger-ui.html
  backend/backend/settings.py
  backend/marketfeed/serializers.py
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
  docker-compose.yaml
Labels: backend

#516 feat: add ci pipeline for annotations project
  .github/workflows/deploy-dev.yml
  .github/workflows/dev-deploy.yml
Labels: devops

#518 Fix serializer issue with post stocks
  backend/marketfeed/migrations/0009_post_stocks.py
  backend/marketfeed/serializers.py
Labels: bug, backend

#515 Resolve manifest.json error
  frontend/public/index.html
Labels: bug

#519 Resolve tag render issue
  frontend/src/components/community/PostCard.js
  frontend/src/data/mockPosts.js
Labels: bug, frontend

#522 Integrate Profile Page with API
  frontend/src/App.js
  frontend/src/components/Dashboard.js
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/community/PostCard.js
  frontend/src/components/profile/ProfilePage.js
  frontend/src/components/profile/UserCard.js
  frontend/src/service/postService.js
  frontend/src/service/profileService.js
  frontend/src/styles/Profile.css
  frontend/src/styles/UserCard.css
Labels: frontend

#523 Refac portfolio selection
  frontend/src/components/portfolio/PortfolioPage.js
  frontend/src/service/portfolioService.js
  frontend/src/service/stockService.js
Labels: bug, frontend

#497 Feature/MB implement tag creation and use
  README.md
  docs/Lab 8 Criteria Checklist.md
  mobile/src/pages/App.js
  mobile/src/pages/Community.js
  mobile/src/pages/CreatePost.js
  mobile/src/pages/Home.js
  mobile/src/pages/Login.js
  mobile/src/pages/News.js
  mobile/src/pages/Post.js
  mobile/src/pages/ProfilePage.js
  mobile/src/pages/Register.js
  mobile/src/pages/config/config.js
  mobile/src/pages/context/AuthContext.js
Labels: mobile

#434 [Lab 8] Acceptance Criteria
  README.md
Labels: planning, lab

#527 Feature/mb post stock connection and graphics
  mobile/__tests__/Community.test.js
  mobile/__tests__/Login-test.js
  mobile/__tests__/Login.test.js
  mobile/__tests__/Profile-test.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/pages/App.js
  mobile/src/pages/Community.js
  mobile/src/pages/CreatePost.js
  mobile/src/pages/Home.js
  mobile/src/pages/Post.js
  mobile/src/pages/context/AuthContext.js
Labels: mobile

#535 feature/BE-faker
  backend/docker-compose.yaml
  backend/marketfeed/management/commands/generate_posts.py
  backend/marketfeed/migrations/0010_alter_post_title.py
  backend/marketfeed/models.py
  backend/requirements.txt
Labels: priority: high, workload: 2, backend

#539 Us stocks
  backend/docker-compose.yaml
  backend/marketfeed/management/commands/update_US_stocks.py
Labels: backend

#542 Fix/be faker
  backend/marketfeed/management/commands/generate_posts.py
  docker-compose.yaml
Labels: bug, priority: high, backend

#543 Feature/mb stock details
  mobile/src/pages/Markets.js
  mobile/src/pages/PortfolioDetails.js
  mobile/src/pages/StockDetails.js
Labels: mobile

#524 feat: Add enhanced news implementation
  backend/news/views.py
Labels: backend

#544 Feat mb unit tests
  mobile/__tests__/CreatePost.test.js
  mobile/__tests__/Post.test.js
  mobile/package-lock.json
  mobile/package.json
Labels: mobile

#546 fix: custom header color
  mobile/src/pages/App.js
Labels: mobile

#549 Marketfeed test
  backend/docker-compose.yaml
  backend/marketfeed/tests.py
Labels: backend

#550 feat: Add tests for annotation and posts
  annotations_project/annotations/tests.py
  backend/marketfeed/tests.py
Labels: backend

#541 [FE] Add jest test components
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CircleAnimation.js
  frontend/src/components/alert/AlertModal.js
  frontend/src/components/login/Login.js
  frontend/src/components/profile/UserCard.js
  frontend/src/test/AlertModal.test.js
  frontend/src/test/AssetList.test.js
  frontend/src/test/AssetModal.test.js
  frontend/src/test/CircleAnimation.test.js
  frontend/src/test/CommunityPage.test.js
  frontend/src/test/Dashboard.test.js
  frontend/src/test/FilterButtons.test.js
  frontend/src/test/NewsCard.test.js
  frontend/src/test/NewsPage.test.js
  frontend/src/test/NotFound.test.js
  frontend/src/test/PortfolioDetailsCard.test.js
  frontend/src/test/PortfolioModal.test.js
  frontend/src/test/ProfilePage.test.js
  frontend/src/test/UserCard.test.js
  frontend/src/test/randomUtil.test.js
Labels: frontend

#540 add command to main docker-compose
  docker-compose.yaml
Labels: priority: high, backend

#551 Add annotation and filter posts by tags
  frontend/src/components/community/AnnotationUtils.js
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/community/CreatePostPage.js
  frontend/src/components/community/PostCard.js
  frontend/src/components/community/PostView.js
  frontend/src/styles/community/CommunityPage.css
  frontend/src/styles/community/PostView.css
Labels: frontend
