Repository bounswe/bounswe2024group2, pull requests merged in 2024-11, with the labels that each got.

#368 Implement Market Feed Endpoints
  backend/backend/settings.py
  backend/backend/urls.py
  backend/manage.py
  backend/marketfeed/__init__.py
  backend/marketfeed/admin.py
  backend/marketfeed/apps.py
  backend/marketfeed/migrations/0001_initial.py
  backend/marketfeed/migrations/0002_alter_portfolio_created_at.py
  backend/marketfeed/migrations/__init__.py
  backend/marketfeed/models.py
  backend/marketfeed/serializers.py
  backend/marketfeed/tests.py
  backend/marketfeed/urls.py
  backend/marketfeed/views.py
  backend/onboarding/__init__.py
  backend/onboarding/apps.py
  backend/onboarding/migrations/0002_badge_profile.py
  backend/onboarding/migrations/0003_delete_badge.py
  backend/onboarding/migrations/0004_badge.py
  backend/onboarding/models.py
  backend/onboarding/serializers.py
  backend/onboarding/signals.py
  backend/onboarding/urls.py
  backend/onboarding/views.py
  backend/requirements.txt
Labels: backend

#380 Implement Fetching News from RSS Feeds
  backend/backend/settings.py
  backend/backend/urls.py
  backend/news/__init__.py
  backend/news/admin.py
  backend/news/apps.py
  backend/news/migrations/__init__.py
  backend/news/models.py
  backend/news/serializers.py
  backend/news/tests.py
  backend/news/urls.py
  backend/news/views.py
  backend/requirements.txt
Labels: backend

#372 W3C - Annotation Standard Documentation
  docs/w3c-annotation.md
Labels: documentation, lab

#385 [Lab 6] Add User Experience Features
  frontend/README.md
  frontend/src/components/CircleAnimation.js
  frontend/src/components/Dashboard.js
  frontend/src/components/login/Login.js
  frontend/src/index.css
  frontend/src/styles/CircleAnimation.css
  frontend/src/styles/Dashboard.css
  frontend/src/styles/MarketsPage.css
  frontend/src/styles/News.css
  frontend/src/styles/Portfolio.css
  frontend/src/styles/StocksPage.css
  frontend/src/styles/Tooltip.css
  frontend/src/styles/community/CommunityPage.css
  frontend/src/styles/community/PostCard.css
  frontend/src/styles/community/PostView.css
  mobile/src/pages/App.js
  mobile/src/pages/Home.js
  mobile/src/pages/LoadingScreen.js
  mobile/src/pages/Login.js
  mobile/src/themes/ThemeProvider.js
  mobile/src/themes/themes.js
Labels: enhancement, mobile, frontend, lab, ux

#388 Improve Dark Mode Support and Refine UI Consistency
  frontend/src/App.js
  frontend/src/components/Dashboard.js
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/community/PostView.js
  frontend/src/components/news/FilterButtons.js
  frontend/src/components/news/NewsCard.js
  frontend/src/components/news/NewsPage.js
  frontend/src/components/portfolio/AssetList.js
  frontend/src/components/portfolio/AssetModal.js
  frontend/src/components/portfolio/PortfolioDetailsCard.js
  frontend/src/components/portfolio/PortfolioModal.js
  frontend/src/components/portfolio/PortfolioPage.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/styles/CircleAnimation.css
  frontend/src/styles/Dashboard.css
  frontend/src/styles/MarketsPage.css
  frontend/src/styles/News.css
  frontend/src/styles/NotFound.css
  frontend/src/styles/Page.css
  frontend/src/styles/Portfolio.css
  frontend/src/styles/StocksPage.css
  frontend/src/styles/Tooltip.css
  frontend/src/styles/community/CommunityPage.css
  frontend/src/styles/community/PostCard.css
  frontend/src/styles/community/PostView.css
  frontend/src/styles/news/NewsCard.css
  frontend/src/styles/news/NewsPage.css
  frontend/src/styles/portfolio/AssetList.css
  frontend/src/styles/portfolio/PortfolioDetailsCard.css
  frontend/src/styles/portfolio/PortfolioModal.css
  frontend/src/styles/portfolio/PortfolioPage.css
Labels: frontend, ux

#412 Retrieve user from request for post
  backend/marketfeed/serializers.py
  backend/marketfeed/views.py
Labels: backend

#413 Feature/BE stock detail
  backend/marketfeed/migrations/0003_stock_last_price_stock_last_updated.py
  backend/marketfeed/models.py
  backend/requirements.txt
Labels: backend

#414 Add user REST endpoints
  backend/onboarding/urls.py
  backend/onboarding/views.py
Labels: backend

#397 Add frontend logger util
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/logger.js
Labels: frontend

#411 Feature/fe markets stocks
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/community/CreatePostPage.js
  frontend/src/components/community/PostView.js
  frontend/src/components/login/Login.js
  frontend/src/components/markets/MarketsPage.js
  frontend/src/components/markets/MockData.js
  frontend/src/components/markets/StocksPage.js
  frontend/src/data/mockPosts.js
  frontend/src/styles/MarketsPage.css
  frontend/src/styles/community/CreatePostPage.css
  frontend/src/tests/Login.test.js
  frontend/src/tests/__snapshots__/Login.test.js.snap
Labels: frontend

#416 Removes authentication requirement from user endpoints
  backend/onboarding/views.py
Labels: backend

#422 Refactor news return values
  backend/news/views.py
  backend/requirements.txt
Labels: backend

#425 Retrieve user by username
  backend/onboarding/serializers.py
  backend/onboarding/urls.py
  backend/onboarding/views.py
Labels: backend

#424 Add Jest Test for News and Dashboard
  frontend/__mocks__/fileMock.js
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/Dashboard.test.js
  frontend/src/test/NewsPage.test.js
Labels: frontend

#423 Feature/mb create post
  mobile/src/pages/App.js
  mobile/src/pages/Community.js
  mobile/src/pages/CreatePost.js
  mobile/src/pages/Home.js
  mobile/src/pages/Login.js
  mobile/src/pages/Post.js
  mobile/src/pages/ProfilePage.js
  mobile/src/pages/context/AuthContext.js
Labels: mobile
