Repository bounswe/bounswe2024group2, pull requests merged in 2024-10, with the labels that each got.

#286 Create a mock login page
  frontend/src/App.js
  frontend/src/components/Login.js
  frontend/src/styles/Login.css
Labels: frontend

#278 Dockerize the Project
  backend/Dockerfile
  backend/backend/__init__.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/docker-compose.yaml
  backend/manage.py
  backend/onboarding/__init__.py
  backend/onboarding/admin.py
  backend/onboarding/apps.py
  backend/onboarding/migrations/__init__.py
  backend/onboarding/models.py
  backend/onboarding/tests.py
  backend/onboarding/views.py
  backend/requirements.txt
Labels: backend

#280 Initialize swagger documentation
  backend/backend/settings.py
  backend/backend/urls.py
  backend/docker-compose.yaml
  backend/requirements.txt
Labels: backend

#288 Add Dockerfile For Web
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Login.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/styles/Login.css
Labels: devops, frontend

#291 Add dashboard skeleton
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Dashboard.js
  frontend/src/components/Login.js
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/home/HomePage.js
  frontend/src/components/markets/MarketsPage.js
  frontend/src/components/news/NewsPage.js
  frontend/src/components/portfolio/PortfolioPage.js
  frontend/src/index.css
  frontend/src/styles/Dashboard.css
  frontend/src/styles/Login.css
Labels: frontend

#306 Add deploy dev workflow
  .github/workflows/deploy-dev.yml
Labels: devops

#307 fix: remove admin import to resolve migration inconsistency
  backend/backend/settings.py
  backend/backend/urls.py
  backend/onboarding/admin.py
Labels: bug, backend

#303 Add news page skeleton
  frontend/src/App.js
  frontend/src/components/news/FilterButtons.js
  frontend/src/components/news/NewsCard.js
  frontend/src/components/news/NewsPage.js
  frontend/src/index.css
  frontend/src/styles/Dashboard.css
  frontend/src/styles/News.css
Labels: frontend

#308 Initialize login in mobile app
  mobile/bull-and-bear-app/App.js
  mobile/bull-and-bear-app/android/.gitignore
  mobile/bull-and-bear-app/android/app/build.gradle
  mobile/bull-and-bear-app/android/app/debug.keystore
  mobile/bull-and-bear-app/android/app/proguard-rules.pro
  mobile/bull-and-bear-app/android/app/src/debug/AndroidManifest.xml
  mobile/bull-and-bear-app/android/app/src/main/AndroidManifest.xml
  mobile/bull-and-bear-app/android/app/src/main/java/com/anonymous/bullandbearapp/MainActivity.kt
  mobile/bull-and-bear-app/android/app/src/main/java/com/anonymous/bullandbearapp/MainApplication.kt
  mobile/bull-and-bear-app/android/app/src/main/res/drawable-hdpi/splashscreen_image.png
  mobile/bull-and-bear-app/android/app/src/main/res/drawable-mdpi/splashscreen_image.png
  mobile/bull-and-bear-app/android/app/src/main/res/drawable-xhdpi/splashscreen_image.png
  mobile/bull-and-bear-app/android/app/src/main/res/drawable-xxhdpi/splashscreen_image.png
  mobile/bull-and-bear-app/android/app/src/main/res/drawable-xxxhdpi/splashscreen_image.png
  mobile/bull-and-bear-app/android/app/src/main/res/drawable/rn_edit_text_material.xml
  mobile/bull-and-bear-app/android/app/src/main/res/drawable/splashscreen.xml
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile/bull-and-bear-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  mobile/bull-and-bear-app/android/app/src/main/res/values-night/colors.xml
  mobile/bull-and-bear-app/android/app/src/main/res/values/colors.xml
  mobile/bull-and-bear-app/android/app/src/main/res/values/strings.xml
  mobile/bull-and-bear-app/android/app/src/main/res/values/styles.xml
  mobile/bull-and-bear-app/android/build.gradle
  mobile/bull-and-bear-app/android/gradle.properties
  mobile/bull-and-bear-app/android/gradle/wrapper/gradle-wrapper.jar
  mobile/bull-and-bear-app/android/gradle/wrapper/gradle-wrapper.properties
  mobile/bull-and-bear-app/android/gradlew
  mobile/bull-and-bear-app/android/gradlew.bat
  mobile/bull-and-bear-app/android/react-settings-plugin/build.gradle.kts
  mobile/bull-and-bear-app/android/react-settings-plugin/src/main/kotlin/expo/plugins/ReactSettingsPlugin.kt
  mobile/bull-and-bear-app/android/settings.gradle
  mobile/bull-and-bear-app/app.json
  mobile/bull-and-bear-app/package-lock.json
  mobile/bull-and-bear-app/package.json
  mobile/bull-and-bear-app/pages/App.js
  mobile/bull-and-bear-app/pages/Login.js
  mobile/bull-and-bear-app/pages/gesture-handler.js
  mobile/bull-and-bear-app/pages/gesture-handler.native.js
Labels: mobile

#309 Add portfolio page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/portfolio/AssetList.js
  frontend/src/components/portfolio/AssetModal.js
  frontend/src/components/portfolio/PortfolioDetailsCard.js
  frontend/src/components/portfolio/PortfolioModal.js
  frontend/src/components/portfolio/PortfolioPage.js
  frontend/src/data/mockStocks.js
  frontend/src/styles/Portfolio.css
Labels: frontend

#313 [Hotfix] Resolve asset price bug
  frontend/src/components/portfolio/AssetList.js
Labels: bug, frontend

#312 Add navbar styles
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/favicon.ico
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/assets/icon-bare-700.png
  frontend/src/components/Dashboard.js
  frontend/src/styles/Dashboard.css
Labels: frontend

#315 Feature/fe login layout
  frontend/src/App.js
  frontend/src/components/Dashboard.js
  frontend/src/components/Login.js
  frontend/src/components/login/ForgotPassword.js
  frontend/src/components/login/Login.js
  frontend/src/components/login/Register.js
  frontend/src/styles/Login.css
Labels: frontend

#320 [HOTFIX] Redirect empty urls to home
  frontend/src/App.js
Labels: bug, frontend

#321 Add not found page
  frontend/src/App.js
  frontend/src/assets/notfound-bear.png
  frontend/src/components/notfound/NotFound.js
  frontend/src/styles/NotFound.css
Labels: enhancement, frontend

#323 Add login functionality requests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/login/Login.js
  frontend/src/components/login/Register.js
Labels: frontend

#324 Add axios to package.json
  frontend/package-lock.json
  frontend/package.json
Labels: bug, frontend

#327 Add signout and register error messages
  frontend/src/components/Dashboard.js
  frontend/src/components/login/Login.js
  frontend/src/components/login/Register.js
Labels: frontend

#331 Logout endpoint for backend
  backend/backend/settings.py
  backend/onboarding/serializers.py
  backend/onboarding/urls.py
  backend/onboarding/views.py
Labels: backend

#328 Home page is created
  mobile/android/app/build.gradle
  mobile/assets/stock-logos/akbank.png
  mobile/assets/stock-logos/bist-100.png
  mobile/assets/stock-logos/bist-30.png
  mobile/assets/stock-logos/bist-50.png
  mobile/assets/stock-logos/bist.png
  mobile/assets/stock-logos/eregl.png
  mobile/assets/stock-logos/gubrf.png
  mobile/assets/stock-logos/thy.png
  mobile/assets/stock-logos/ykbnk.png
  mobile/package-lock.json
  mobile/package.json
  mobile/src/pages/App.js
  mobile/src/pages/Home.js
  mobile/src/pages/Register.js
Labels: mobile

#334 fix: change flatlist in home
  mobile/src/pages/Home.js
Labels: bug, mobile

#335 Fix/mb header alignment
  mobile/src/pages/App.js
Labels: mobile, design

#339 Add community page skeleton for web
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/community/CommunityPage.js
  frontend/src/components/community/FinancialGraph.js
  frontend/src/components/community/PostCard.js
  frontend/src/components/community/PostView.js
  frontend/src/data/graphData.js
  frontend/src/data/mockPosts.js
  frontend/src/styles/Portfolio.css
  frontend/src/styles/community/CommunityPage.css
  frontend/src/styles/community/PostCard.css
  frontend/src/styles/community/PostView.css
Labels: frontend

#340 fix: add missing auth pages
  frontend/src/App.js
Labels: bug, frontend

#336 Add markets section for Web
  frontend/src/App.js
  frontend/src/components/markets/MarketsPage.js
  frontend/src/components/markets/StocksPage.js
  frontend/src/components/markets/Tooltip.js
  frontend/src/styles/MarketsPage.css
  frontend/src/styles/StocksPage.css
  frontend/src/styles/Tooltip.css
Labels: frontend

#341 Bug fixes about header and navigation
  mobile/android/app/src/main/assets/index.android.bundle
  mobile/android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
  mobile/android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_iconkitchenoutput_iconbare700.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_akbank.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_badge60.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_bist.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_bist100.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_bist30.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_eregl.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_gubrf.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_profile.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_thy.png
  mobile/android/app/src/main/res/drawable-mdpi/assets_stocklogos_ykbnk.png
  mobile/android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
  mobile/android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  mobile/android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_elements_src_assets_backiconmask.png
  mobile/android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
  mobile/android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  mobile/android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
  mobile/android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  mobile/android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
  mobile/android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_elements_src_assets_backicon.png
  mobile/src/pages/App.js
  mobile/src/pages/Home.js
  mobile/src/pages/Login.js
  mobile/src/pages/Profile.js
Labels: mobile

#333 Containerize whole project including frontend
  backend/backend/settings.py
  docker-compose.yaml
Labels: devops

#343 fix: registration flow
  .github/workflows/dev-deploy.yml
  docker-compose.yaml
  frontend/src/components/login/Register.js
Labels: devops, frontend

#363 feat: add milestone report 1
  reports/m1_group2.md
Labels: wiki
